name: CI for swoom-assignment-app

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Build Docker Image
      uses: docker/build-push-action@v2
      with:
        context: ./app
        file: ./app/Dockerfile
        load: true
        tags: swoom-assignment-app:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache

    - name: Run Container
      run: |
        docker run -d --name test-container -p 5001:5001 swoom-assignment-app:latest
        sleep 5

    - name: Fetch Container Logs
      run: |
        docker logs test-container

    - name: Health Check
      run: |
        RESPONSE=$(curl --fail http://localhost:5001/health)
        if [[ "$RESPONSE" != "healthy" ]]; then
          echo "Unexpected response: $RESPONSE"
          exit 1
        fi

    - name: Save Docker image as a tar file
      run: docker save swoom-assignment-app:latest > swoom-assignment-app.tar

    - name: Publish Docker image as artifact
      uses: actions/upload-artifact@v2
      with:
        name: swoom-assignment-app-image
        path: swoom-assignment-app.tar
